 
.banderita li{margin:10px 0;position:relative;background:url(images/spriteflags2.gif) no-repeat;}
.banderita li.argentina {background-position:0 0;}
.banderita li.brasil {background-position:0 -15px;}
.banderita li.colombia {background-position:0 -30px;}
.banderita li.costarica {background-position:0 -45px;}
.banderita li.chile {background-position:0 -60px;}
.banderita li.dominicana {background-position:0 -165px;}
.banderita li.ebay {background-position:0 -75px;}
.banderita li.ecuador {background-position:0 -90px;}
.banderita li.mexico {background-position:0 -105px;}
.banderita li.panama {background-position:0 -120px;}
.banderita li.peru {background-position:0 -135px;}
.banderita li.portugal {background-position:0 -150px;}
.banderita li.uruguay {background-position:0 -180px;}
.banderita li.venezuela {background-position:0 -195px;}

li {list-style: outside;}